@font-face {
    font-family: 'Unifont';
    src: url('GNUUnifontFull.woff2') format('woff2'),
        url('GNUUnifontFull.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

